{% load static %}
{% load thumbnail %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>

<div id="header">
    <div class="header-content">
        <div class="logo-container">
            <span class="logo"><a href="{% url "movie_actions" %}">КиноСмотрители</a></span>
            {% if current_version %}
                <span class="version-number"><a href="{% url 'changelog' %}">{{ current_version.version_number }} тест</a></span>
            {% endif %}
        </div>
<div class="user-container">
    {% if request.user.is_authenticated %}
        <div class="user-info">
            <!-- Аватар -->
            {% if request.user.profile.photo %}
                {% thumbnail request.user.profile.photo "20x20" crop="100%" as im %}
                    <img src="{{ im.url }}" class="user-avatar-header" alt="{{ user.get_full_name }}">
            {% else %}
                <img src="{% static 'images/default_user_avatar.jpg' %}" class="user-avatar-header" alt="Default Avatar">
            {% endif %}

            <!-- Имя и меню в одном контейнере -->
            <div class="user-controls">
                <span class="username">{{ request.user.first_name|default:request.user.username }}</span>
                <div class="dropdown">
                    <button class="dropbtn">▼</button>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard' %}">Дашборд</a>
                        <form action="{% url 'logout' %}" method="post">
                            <button type="submit">Выйти</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>



            <div class="search-container">
                <input type="text" placeholder="Поиск фильма..." id="movie-search">
                <button class="search-button">🔍</button>
            </div>

        </div>
    <div class="menu-container">
        <button class="menu-toggle">Меню</button>
        <ul class="menu">
            {% if request.user.is_authenticated %}
            <li {% if section == "movies" %}class="selected"{% endif %}>
                <a href="#">Фильмы</a>
                <ul class="dropdown-content">
                    <li><a href="{% url "movies:list" %}?filter=all">Все фильмы</a></li>
                    <li><a href="{% url "movies:list" %}?filter=watched">Просмотренные</a></li>
                    <li><a href="{% url "movies:list" %}?filter=unwatched">Непросмотренные</a></li>
                    <li><a href="{% url "movies:list" %}?filter=liked">Понравившиеся</a></li>
                    <li><a href="{% url "movies:list" %}?filter=disliked">Непонравившиеся</a></li>
                    <li><a href="{% url "movies:list" %}?filter=watchlist">Буду смотреть</a></li>
                    <li><a href="{% url "movies:list" %}?filter=added">Добавленные</a></li>
                    <li><a href="{% url "movies:create" %}">+Добавить фильм</a></li>
                </ul>
            </li>
            <li {% if section == "lists" %}class="selected"{% endif %}>
                <a href="#">Списки</a>
                <ul class="dropdown-content">
                    <li><a href="{% url "movies:all_movie_lists" %}">Все списки</a></li>
                    <li><a href="{% url "movies:director_list" %}">Режиссеры</a></li>
                    <li><a href="{% url "movies:writer_list" %}">Сценаристы</a></li>
                    <li><a href="{% url "movies:create_movie_list" %}">+Создать список</a></li>
                </ul>
            </li>
            <li {% if section == "people" %}class="selected"{% endif %}>
                <a href="{% url "user_list" %}">Сообщество</a>
            </li>
            {% else %}
            <li><a href="{% url "login" %}">Войти</a></li>
            <li><a href="{% url "register" %}">Регистрация</a></li>

            {% endif %}
        </ul>
    </div>

    </div>

</div>

{% if messages %}
  <ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">x</a>
</li>
{% endfor %}
</ul>
{% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const csrftoken = Cookies.get('csrftoken');
document.addEventListener('DOMContentLoaded', (event) => {
// DOM загружена
{% block domready %}
document.querySelectorAll('#header ul.menu li').forEach(function(menuItem) {
    menuItem.addEventListener('click', function(event) {
        event.stopPropagation(); // Останавливаем всплытие события
        const dropdownContent = this.querySelector('.dropdown-content');
        if (dropdownContent) {
            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
        }
    });
});

// Закрытие выпадающего меню при клике вне меню
window.onclick = function(event) {
    const dropdowns = document.getElementsByClassName("dropdown-content");
    for (let i = 0; i < dropdowns.length; i++) {
        const openDropdown = dropdowns[i];
        if (openDropdown.style.display === 'block') {
            openDropdown.style.display = 'none';
        }
    }
}

document.addEventListener('DOMContentLoaded', function() {
    const menuToggle = document.querySelector('.menu-toggle');
    const menu = document.querySelector('.menu');

    menuToggle.addEventListener('click', function() {
        menu.classList.toggle('active');
    });
});

{% endblock %}
})
</script>
</body>
</html>
