<!-- templates/writers/writer_detail.html -->
{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ writer.name }}{% endblock %}
{% block content %}
<h1>{{ writer.name }}</h1>

<!-- Ссылка на Кинопоиск -->
<p>
    <a href="https://www.kinopoisk.ru/name/{{ writer.staff_id }}/" target="_blank">Посетить страницу о сценаристе на Кинопоиске</a>
</p>
<br>
<div id="movie-list">
{% include "movies/writers/writer_list_movies.html" %}
</div>
<a href="{% url 'movies:writer_list' %}">Назад к списку сценаристов</a>

{% endblock %}

