{% load thumbnail %}
{% load static %}
<h2>Список фильмов сценариста:</h2>

<div class="movie-container">
    <div class="movie-list">
        <ul>
            {% for movie in movies %}
                <li class="movie-item {% if movie.id in watched_movies %}watched{% endif %}">
                    <div class="movie-poster">
                        {% if movie.poster %}
                            <a href="{{ movie.get_absolute_url }}">
                                <img src="{% thumbnail movie.poster 300x0 %}" alt="{{ movie.title }} постер" class="movie-poster-img">
                            </a>
                        {% endif %}
                    </div>
                    <div class="movie-info">
                        <h2><a href="{{ movie.get_absolute_url }}">{{ movie.title }} ({{ movie.year }})</a></h2>
                        {% if movie.title_original %}
                            <p>{{ movie.title_original }}</p>
                        {% endif %}
                        <p>
                            Режиссеры:
                            {% for director in movie.directors.all %}
                                <a href="{% url 'movies:director_detail' director.pk %}">{{ director.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            Сценаристы:
                            {% for writer in movie.writers.all %}
                                <a href="{% url 'movies:writer_detail' writer.pk %}">{{ writer.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            Жанры:
                            {% for genre in movie.genres.all %}
                                {{ genre.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <div class="movie-actions">
                            <button class="like" data-id="{{ movie.id }}">
                                <i class="fas fa-thumbs-up {% if request.user in movie.users_like.all %}active{% endif %}"></i>
                            </button>
                            <button class="dislike" data-id="{{ movie.id }}">
                                <i class="fas fa-thumbs-down {% if request.user in movie.users_dislike.all %}active{% endif %}"></i>
                            </button>
                            <button class="wishlist" data-id="{{ movie.id }}">
                                <i class="fas fa-plus {% if movie.id in wishlist_movies %}transparent{% endif %}"></i>
                            </button>
                            <button class="watched" data-id="{{ movie.id }}">
                                <i class="fas fa-circle {% if movie.id in watched_movies %}fa-check{% endif %}"></i>
                                <span class="action-label">
                                    {% if movie.id in watched_movies %}
                                        Просмотрен
                                    {% else %}
                                        Пометить как просмотренный
                                    {% endif %}
                                </span>
                            </button>
                            <button class="recently-watched" data-id="{{ movie.id }}">
                                <i class="fas fa-circle {% if movie.id in recently_watched_movies %}fa-check{% endif %}"></i>
                                <span class="action-label">
                                    {% if movie.id in recently_watched_movies %}
                                        Просмотрен недавно
                                    {% else %}
                                        Пометить как просмотрен недавно
                                    {% endif %}
                                </span>
                            </button>
                            <a href="{{ movie.kinopoisk_url }}" target="_blank" class="kinopoisk-link">
                                <img src="{% static 'images/icon-kp.png' %}" alt="Кинопоиск" class="icon">
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

