{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
<h1>Войти</h1>
{% if form.errors %}
<p>
Неверный логин или пароль.
Попробуйте снова.
</p>
{% else %}
    <p>
      Пожалуйста, используйте форму ниже для входа в систему.<br>
      Если, вы впервые, то <a href="{% url "register" %}">зарегистрируйтесь</a>.
      Или воспользуйтесь сервисами социальной аутентификации Yandex или Google
    </p>
<br>
{% endif %}
<div class="login-form">
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Пароль</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <p><input type="submit" value="Войти"></p>
</form>
<p>
<a href="{% url "password_reset" %}">
Забыли пароль?
</a>
</p>
</div>
<div class="social">
<ul>
    <li class="yandex">
<a class="yandex" href="{% url "social:begin" "yandex-oauth2" %}">
Войти через Яндекс
</a>
</li>
<li class="google">
<a href="{% url "social:begin" "google-oauth2" %}">
Войти через Google
</a>
</li>
</ul>
</div>
{% endblock %}