{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<h1>{{ user.get_full_name }}</h1>

<!-- Аватар пользователя -->
<div class="profile-info">
    {% if user.profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
            <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
        </a>
    {% else %}
        <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img">
    {% endif %}
</div>

<!-- Вкладки в виде кнопок -->
<div class="tabs">
    <button class="tablink active" onclick="openTab(event, 'AboutMe')">Обо мне</button>
    <button class="tablink" onclick="openTab(event, 'Activity')">Активность</button>
    <button class="tablink" onclick="openTab(event, 'Comments')">Комментарии</button>
</div>

<!-- Содержимое вкладок -->
<div id="AboutMe" class="tabcontent" style="display: block;">  <!-- Показать по умолчанию -->
    <h3>Обо мне</h3>
    <div class="about-me-content">
        <div class="about-me-stats">
            <h4 style="text-decoration: underline;">Стат данные</h4>
            <p>Дата присоединения: {{ user.date_joined|date:"d.m.Y" }}</p>
            <p>Привязка к Telegram: {% if user.profile.telegram_connected %} Привязано {% else %} Не привязано {% endif %}</p>
            <p>Просмотренные фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=watched">{{ watched_count }}</a></p>
            <p>Понравившиеся фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=liked">{{ liked_count }}</a></p>
            <p>Непонравившиеся фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=disliked">{{ disliked_count }}</a></p>
            <p>Буду смотреть: <a href="{% url 'user_movie_list' user.username %}?filter=wishlist">{{ wishlist_count }}</a></p>
            <p>Добавленные фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=added">{{ added_count }}</a></p>
        </div>

        <div class="about-me-compatibility">
            <h4 style="text-decoration: underline;">Совместимость</h4>
            <p>Общие понравившиеся фильмы: {{ common_movies_count }}</p>
            <div class="compatibility-bar">
                <div class="compatibility-fill" style="width: {{ compatibility_score }}%;"></div>
            </div>
            <p>Совместимость: {{ compatibility_score }}%</p>
        </div>

        <div class="about-me-recently-action">
            <h4 style="text-decoration: underline;">Недавние действия</h4>
            {% for action in actions %}
                {% if forloop.counter <= 3 %}  <!-- Ограничиваем вывод до 3 действий -->
                    <div class="action-item">
                        <p>{{ action.verb }}: <strong>{{ action.target.title }}</strong></p>
                        <p>{{ action.created|timesince }} назад</p>
                    </div>
                {% endif %}
            {% empty %}
                <p>Нет недавних действий для отображения.</p>
            {% endfor %}
        </div>
    </div>
</div>

<div id="Activity" class="tabcontent" style="display: none;">  <!-- Скрыть по умолчанию -->
    <h3>Активность</h3>
    <div class="actions">
        {% for action in actions %}
            <div class="action">
                <div class="action-header">
                    <div class="user-info">
                        <div class="user-action">
                            <span class="action-verb">{{ action.verb }}</span>
                            {% if action.target %}
                                <strong class="movie-title">{{ action.target.title }}</strong>
                            {% endif %}
                        </div>
                        <span class="date">{{ action.created|timesince }} назад</span>
                    </div>
                    {% if action.target and action.target.poster %}
                        {% thumbnail action.target.poster "50x75" crop="100%" as im %}
                        <a href="{{ action.target.get_absolute_url }}">
                            <img src="{{ im.url }}" class="item-img" alt="{{ action.target.title }} poster">
                        </a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Нет активности для отображения.</p>
        {% endfor %}
    </div>
</div>

<div id="Comments" class="tabcontent" style="display: none;">  <!-- Скрыть по умолчанию -->
    <h3>Комментарии</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <div class="comment-item">
                    <strong>{{ comment.movie.title }}</strong>
                    <a href="{{ comment.movie.get_absolute_url }}">
                        {% if comment.movie.poster %}
                            <img src="{{ comment.movie.poster.url }}" alt="{{ comment.movie.title }} Poster" class="movie-poster" />
                        {% else %}
                            <img src="{% static 'images/default_movie_poster.jpg' %}" alt="Default Poster" class="movie-poster" />
                        {% endif %}
                    </a>
                    <p>{{ comment.body }}</p>
                    <small>Комментарий оставлен: {{ comment.created_on }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";  // Скрыть все вкладки
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].classList.remove("active");  // Удалить класс "active" у всех вкладок
    }
    document.getElementById(tabName).style.display = "block";  // Показать выбранную вкладку
    evt.currentTarget.classList.add("active");  // Добавить класс "active" к текущей вкладке
}

// Открыть вкладку "Обо мне" по умолчанию
document.addEventListener("DOMContentLoaded", function() {
    document.getElementsByClassName("tablink")[0].click();
});
</script>

<style>
.tabs {
    display: flex; /* Используем Flexbox для расположения вкладок */
    justify-content: space-around; /* Распределяем пространство между вкладками */
    margin-bottom: 20px; /* Отступ снизу для вкладок */
}

.tablink {
    padding: 10px 15px; /* Отступы для кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Рамка вокруг кнопок */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Цвет фона для кнопок */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.tablink.active {
    background-color: #12c064; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста для активной кнопки */
}

.tabcontent {
    display: none; /* Скрываем содержимое вкладок по умолчанию */
    padding: 20px; /* Отступы для содержимого вкладок */
    border: 1px solid #ccc; /* Рамка вокруг содержимого вкладок */
    border-radius: 5px; /* Закругленные углы */
    background-color: #fff; /* Цвет фона для содержимого вкладок */
}

.movie-poster {
    width: 50px; /* Установите ширину постера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от постера */
    vertical-align: middle; /* Выравнивание по центру */
}

.about-me-content {
    display: flex; /* Используем Flexbox для расположения блоков */
    justify-content: space-between; /* Распределяем пространство между блоками */
}

.about-me-stats {
    width: 33%; /* Устанавливаем ширину блоков */
}

.about-me-compatibility {
    width: 33%; /* Устанавливаем ширину блоков */
}

.about-me-recently-action {
    width: 33%; /* Устанавливаем ширину блоков */
}

.about-me-recently-action .action-item p {
    margin: 0; /* Убираем отступы у <p> элементов внутри .action-item */
}

.compatibility-bar {
    background-color: #e0e0e0; /* Цвет фона для полосы совместимости */
    border-radius: 5px; /* Закругленные углы */
    height: 10px; /* Высота полосы */
    margin: 5px 0; /* Отступы сверху и снизу */
}

.compatibility-fill {
    background-color: #12c064; /* Цвет заполнения полосы совместимости */
    height: 100%; /* Высота заполнения равна высоте полосы */
    border-radius: 5px; /* Закругленные углы */
}
.item-img {
        vertical-align: middle; /* Выравнивание аватара по центру */
        margin-right: 8px; /* Отступ справа от аватара */
    width: 80px; /* Установите ширину иконки */
    height: 80px; /* Установите высоту иконки */
    }
@media (max-width: 1100px) {

    .about-me-stats, .about-me-compatibility, .about-me-recently-action {
        width: 100%; /* Устанавливаем ширину блоков на 100% */
        margin-right: 0; /* Убираем отступы справа */
    }
}
</style>
{% endblock %}