{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<h1>{{ user.get_full_name }}</h1>
<div class="follow-button">
    {% if request.user != user %}  <!-- Добавлено условие для проверки, не является ли текущий пользователь владельцем страницы -->
        {% if request.user in user.followers.all %}
            <button class="unfollow-btn" data-id="{{ user.id }}">Отписаться</button>
        {% else %}
            <button class="follow-btn" data-id="{{ user.id }}">Подписаться</button>
        {% endif %}
    {% endif %}
</div>
<!-- Аватар пользователя -->
<div class="profile-info">
    {% if user.profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
            <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
        </a>
    {% else %}
        <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img">
    {% endif %}
</div>

<!-- Вкладки в виде кнопок -->
<div class="tabs">
    <button class="tablink active" onclick="openTab(event, 'AboutMe')">О пользователе</button>
    <button class="tablink" onclick="openTab(event, 'Activity')">Активность</button>
    <button class="tablink" onclick="openTab(event, 'Comments')">Комментарии</button>
</div>

<!-- Содержимое вкладок -->
<div id="AboutMe" class="tabcontent" style="display: block;">  <!-- Показать по умолчанию -->
    <h3>О пользователе</h3>
    <div class="about-me-content">
        <div class="about-me-stats">
            <h4 style="text-decoration: underline;">Стат данные</h4>
            <p>Дата присоединения: {{ user.date_joined|date:"d.m.Y" }}</p>

            <!-- Информация о подписчиках -->
            <h4 class="followers-count">Подписчики: {{ user.followers.count }}</h4>
            <button class="toggle-followers-btn" onclick="toggleFollowersList()">Показать подписчиков</button>
            <div id="followers-list" class="followers-list" style="display: none;">
                <ul>
                    {% for follower in user.followers.all %}
                        <li>
                            <div class="follower-item">
                                {% if follower.profile.photo %}
                                    {% thumbnail follower.profile.photo "20x20" crop="100%" as im %}
                                    <a href="{{ follower.get_absolute_url }}">
                                        <img src="{{ im.url }}" alt="{{ follower.get_full_name }}" class="follower-avatar">
                                    </a>
                                {% else %}
                                    <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="follower-avatar">
                                {% endif %}
                                <a href="{{ follower.get_absolute_url }}">{{ follower.get_full_name }}</a>
                            </div>
                        </li>
                    {% empty %}
                        <li>Нет подписчиков.</li>
                    {% endfor %}
                </ul>
            </div>

            <p>Привязка к Telegram: {% if user.profile.telegram_connected %} Привязано {% else %} Не привязано {% endif %}</p>
            <p>Просмотренные фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=watched">{{ watched_count }}</a></p>
            <p>Понравившиеся фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=liked">{{ liked_count }}</a></p>
            <p>Непонравившиеся фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=disliked">{{ disliked_count }}</a></p>
            <p>Буду смотреть: <a href="{% url 'user_movie_list' user.username %}?filter=wishlist">{{ wishlist_count }}</a></p>
            <p>Добавленные фильмы: <a href="{% url 'user_movie_list' user.username %}?filter=added">{{ added_count }}</a></p>
        </div>

        <div class="about-me-compatibility">
            <h4 style="text-decoration: underline;">Совместимость</h4>
            <p>Общие понравившиеся фильмы: {{ common_movies_count }}</p>
            <div class="compatibility-bar">
                <div class="compatibility-fill" style="width: {{ compatibility_score }}%;"></div>
            </div>
            <p>Совместимость: {{ compatibility_score }}%</p>
        </div>

<div class="about-me-recently-action">
    <h4 style="text-decoration: underline;">Недавние действия</h4>
    {% for action in actions %}
        {% if forloop.counter <= 3 %}  <!-- Ограничиваем вывод до 3 действий -->
            <div class="action-item">
                {% if action.verb == "подписался" %}
                    <p>подписался на <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a></strong></p>
                {% elif action.verb == "отписался" %}
                    <p>отписался от <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a></strong></p>
                {% else %}
                    <p>{{ action.verb }}: <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.title }}</a></strong></p>

                {% endif %}
                <p>{{ action.created|date:"DATETIME_FORMAT" }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>Нет недавних действий для отображения.</p>
    {% endfor %}
</div>
    </div>
</div>

<div id="Activity" class="tabcontent" style="display: none;">  <!-- Скрыть по умолчанию -->
    <h3>Активность</h3>
    <div class="actions">
        {% for action in actions %}
            <div class="action">
                <div class="action-header">
                    <div class="user-info">
                        <div class="user-action">
                            {% if action.verb == "подписался" %}
                                <span class="action-verb">подписался на</span>
                                <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a></strong>
                            {% elif action.verb == "отписался" %}
                                <span class="action-verb">отписался от</span>
                                <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a></strong>
                            {% else %}
                                <span class="action-verb">{{ action.verb }}</span>
                                {% if action.target %}
                                    <strong class="movie-title"><a href="{{ action.target.get_absolute_url }}">{{ action.target.title }}</a></strong>
                                {% endif %}
                            {% endif %}
                        </div>
                        <span class="date">{{ action.created|date:"DATETIME_FORMAT" }}</span>
                    </div>
                    {% if action.target and action.target.poster %}
                        {% thumbnail action.target.poster "50x75" crop="100%" as im %}
                        <a href="{{ action.target.get_absolute_url }}">
                            <img src="{{ im.url }}" class="item-img" alt="{{ action.target.title }} poster">
                        </a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Нет активности для отображения.</p>
        {% endfor %}
    </div>
</div>

<div id="Comments" class="tabcontent" style="display: none;">  <!-- Скрыть по умолчанию -->
    <h3>Комментарии</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <div class="comment-item">
                    <strong>{{ comment.movie.title }}</strong>
                    <a href="{{ comment.movie.get_absolute_url }}">
                        {% if comment.movie.poster %}
			{% thumbnail comment.movie.poster "50x75" crop="100%" as im %}
                            <img src="{{ im.url }}" alt="{{ comment.movie.title }} Poster" class="movie-poster" />
                        {% else %}
                            <img src="{% static 'images/default_movie_poster.jpg' %}" alt="Default Poster" class="movie-poster" />
                        {% endif %}
                    </a>
                    <p>{{ comment.body }}</p>
                    <small>Комментарий оставлен: {{ comment.created_on }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";  // Скрыть все вкладки
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].classList.remove("active");  // Удалить класс "active" у всех вкладок
    }
    document.getElementById(tabName).style.display = "block";  // Показать выбранную вкладку
    evt.currentTarget.classList.add("active");  // Добавить класс "active" к текущей вкладке
}

// Открыть вкладку "Обо мне" по умолчанию
document.addEventListener("DOMContentLoaded", function() {
    document.getElementsByClassName("tablink")[0].click();
});

function toggleFollowersList() {
    var list = document.getElementById("followers-list");
    if (list.style.display === "none") {
        list.style.display = "block";
    } else {
        list.style.display = "none";
    }
}

document.addEventListener('DOMContentLoaded', function() {
    const followButtons = document.querySelectorAll('.follow-btn, .unfollow-btn');

    followButtons.forEach(button => {
        button.addEventListener('click', function() {
            const userId = this.getAttribute('data-id');
            const action = this.classList.contains('follow-btn') ? 'follow' : 'unfollow';

            fetch("{% url 'user_follow' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ id: userId, action: action })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Логируем ответ сервера
                if (data.status === 'ok') {
                    if (action === 'follow') {
                        this.textContent = 'Отписаться';
                        this.classList.remove('follow-btn');
                        this.classList.add('unfollow-btn');
                    } else {
                        this.textContent = 'Подписаться';
                        this.classList.remove('unfollow-btn');
                        this.classList.add('follow-btn');
                    }
                    updateFollowersList(); // Обновляем список подписчиков
                } else {
                    alert(data.message || 'Ошибка при выполнении действия.');
                }
            });
        });
    });
});

// Функция для обновления списка подписчиков
function updateFollowersList() {
    fetch("{% url 'user_followers_list' user.id %}") // Предполагается, что у вас есть URL для получения списка подписчиков
        .then(response => response.json())
        .then(data => {
            const followersList = document.getElementById("followers-list").querySelector("ul");
            followersList.innerHTML = ''; // Очищаем текущий список

            const followersCountElement = document.querySelector('.followers-count');
            if (data.followers.length > 0) {
                data.followers.forEach(follower => {
                    const li = document.createElement("li");
                    li.textContent = follower.full_name; // Предполагается, что у вас есть поле full_name
                    followersList.appendChild(li);
                });
                // Обновляем количество подписчиков
                followersCountElement.textContent = `Подписчики: ${data.followers.length}`;
            } else {
                const li = document.createElement("li");
                li.textContent = "Нет подписчиков.";
                followersList.appendChild(li);
                // Обновляем количество подписчиков
                followersCountElement.textContent = "Подписчики: 0";
            }
        });
}
</script>

<style>
.tabs {
    display: flex; /* Используем Flexbox для расположения вкладок */
    justify-content: space-around; /* Распределяем пространство между вкладками */
    margin-bottom: 20px; /* Отступ снизу для вкладок */
}

.tablink {
    padding: 10px 15px; /* Отступы для кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Рамка вокруг кнопок */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Цвет фона для кнопок */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.tablink.active {
    background-color: #12c064; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста для активной кнопки */
}

.tabcontent {
    display: none; /* Скрываем содержимое вкладок по умолчанию */
    padding: 20px; /* Отступы для содержимого вкладок */
    border: 1px solid #ccc; /* Рамка вокруг содержимого вкладок */
    border-radius: 5px; /* Закругленные углы */
    background-color: #fff; /* Цвет фона для содержимого вкладок */
}

.movie-poster {
    width: 50px; /* Установите ширину постера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от постера */
    vertical-align: middle; /* Выравнивание по центру */
}

.about-me-content {
    display: flex; /* Используем Flexbox для расположения блоков */
    justify-content: space-between; /* Распределяем пространство между блоками */
}

.about-me-stats,
.about-me-compatibility,
.about-me-recently-action {
    width: 33%; /* Устанавливаем ширину блоков */
    background-color: #f9f9f9; /* Цвет фона для блоков */
    border: 1px solid #ddd; /* Цвет и стиль границы */
    border-radius: 10px; /* Закругление углов */
    padding: 15px; /* Отступ внутри блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
}

.about-me-stats h4,
.about-me-compatibility h4,
.about-me-recently-action h4 {
    margin-top: 0; /* Убираем верхний отступ у заголовков */
}

.about-me-recently-action .action-item p {
    margin: 0; /* Убираем отступы у <p> элементов внутри .action-item */
}

.compatibility-bar {
    background-color: #e0e0e0; /* Цвет фона для полосы совместимости */
    border-radius: 5px; /* Закругленные углы */
    height: 10px; /* Высота полосы */
    margin: 5px 0; /* Отступы сверху и снизу */
}

.compatibility-fill {
    background-color: #12c064; /* Цвет заполнения полосы совместимости */
    height: 100%; /* Высота заполнения равна высоте полосы */
    border-radius: 5px; /* Закругленные углы */
}

.item-img {
    vertical-align: middle; /* Выравнивание аватара по центру */
    margin-right: 8px; /* Отступ справа от аватара */
    width: 80px; /* Установите ширину иконки */
    height: 80px; /* Установите высоту иконки */
}

.toggle-followers-btn {
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.toggle-followers-btn:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.followers-list {
    margin-top: 10px; /* Отступ сверху для списка подписчиков */
}

.followers-list ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
}

.follower-item {
    display: flex; /* Используем Flexbox для расположения аватара и имени */
    align-items: center; /* Выравниваем по центру по вертикали */
    margin-bottom: 10px; /* Отступ между подписчиками */
}

.follower-avatar {
    width: 20px; /* Ширина аватара */
    height: 20px; /* Высота аватара */
    border-radius: 50%; /* Делаем аватар круглыми */
    margin-right: 10px; /* Отступ между аватаром и именем */
}

@media (max-width: 1300px) {
    h1 {
        font-size: 24px; /* Уменьшаем размер заголовка */
    }
    h3 {
        font-size: 20px; /* Уменьшаем размер заголовков секций */
    }
    h4 {
        font-size: 18px; /* Уменьшаем размер подз аголовков */
    }
    p, .button {
        font-size: 16px; /* Уменьшаем размер текста в параграфах и кнопках */
    }
    .about-me-content {
        flex-direction: column; /* Изменяем расположение блоков на вертикальное */
    }
    .about-me-stats, .about-me-compatibility, .about-me-recently-action {
        width: 100%; /* Устанавливаем ширину блоков */
        margin-right: 0; /* Убираем отступ справа у блоков */
        margin-bottom: 20px; /* Добавляем отступ снизу для блоков */
        border-radius: 10px; /* Закругляем углы для мобильных устройств */
    }
}


</style>
{% endblock %}
