{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Сообщество{% endblock %}
{% block content %}
{% load static %}
{% load thumbnail %}
  <h1>Сообщество</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
                             {% if user.profile.photo %}
                                    {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                                    <a href="{{ user.get_absolute_url }}">
                                        <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
                                    </a>
                                {% else %}
                                <a href="{{ user.get_absolute_url }}">
                                    <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img">
                                </a>
                                {% endif %}
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}