<!-- templates/directors/director_detail.html -->
{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ director.name }}{% endblock %}
{% block content %}
<h1>{{ director.name }}</h1>

<!-- Ссылка на Кинопоиск -->
<p>
    <a href="https://www.kinopoisk.ru/name/{{ director.staff_id }}/" target="_blank">Посетить страницу о режиссере на Кинопоиске</a>
</p>
<br>
<div id="movie-list">
{% include "movies/directors/director_list_movies.html" %}
</div>
<a href="{% url 'movies:director_list' %}">Назад к списку режиссеров</a>
{% endblock %}

