<!-- templates/directors/director_detail.html -->
{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ director.name }}{% endblock %}
{% block content %}
<h1>{{ director.name }}</h1>

<!-- Ссылка на Кинопоиск -->
<p>
    <a href="https://www.kinopoisk.ru/name/{{ director.staff_id }}/" target="_blank">Посетить страницу на Кинопоиске</a>
</p>

<h2>Фильмы:</h2>
<div class="movie-container">
    <div class="movie-list">
        <ul>
            {% for movie in movies %}
                <li class="movie-item">
                    <div class="movie-poster">
                        {% if movie.poster %}
                            <a href="{{ movie.get_absolute_url }}">
                                <img src="{% thumbnail movie.poster 300x0 %}" alt="{{ movie.title }} постер" class="movie-poster-img">
                            </a>
                        {% endif %}
                    </div>
                    <div class="movie-info">
                        <h2>{{ movie.title }} ({{ movie.year }})</h2>
                        <p>{{ movie.title_original }}</p>
                    </div>
                </li>
            {% empty %}
                <li>Нет фильмов для отображения.</li>
            {% endfor %}
        </ul>
    </div>
</div>
<a href="{% url 'movies:director_list' %}">Назад к списку режиссеров</a>
{% endblock %}