<!-- account/dashboard.html -->
{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Дашборд{% endblock %}
{% block content %}
<h1>Дашборд</h1>

<!-- Аватар пользователя -->
<div class="user-avatar">
    {% if user.profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
            <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
        </a>
    {% else %}
        <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img" style="width: 80px; height: 80px;">
    {% endif %}
</div>

<!-- Вкладки -->
<div class="tabs">
    <button class="tablink active" onclick="openTab(event, 'AboutMe')">Обо мне</button>
    <button class="tablink" onclick="openTab(event, 'Activity')">Активность</button>
    <button class="tablink" onclick="openTab(event, 'Comments')">Комментарии</button>
    <button class="tablink" onclick="openTab(event, 'PointsHistory')">История начислений</button>
</div>

<!-- Содержимое вкладок -->
<div id="AboutMe" class="tabcontent">
    <h3>Обо мне</h3>
    <div class="about-me-content">
        <div class="about-me-stats">
            <h4 style="text-decoration: underline;">Стат данные</h4>
            <p>Дата присоединения: {{ user.date_joined|date:"d.m.Y" }}</p>
            <h4>Подписчики: {{ user.followers.count }}</h4>
            <button class="toggle-followers-btn" onclick="toggleFollowersList()">Показать подписчиков</button>
            <div id="followers-list" class="followers-list" style="display: none;">
                <ul>
                    {% for follower in user.followers.all %}
                        <li>
                            <div class="follower-item">
                                {% if follower.profile.photo %}
                                    {% thumbnail follower.profile.photo "20x20" crop="100%" as im %}
                                    <a href="{{ follower.get_absolute_url }}">
                                        <img src="{{ im.url }}" alt="{{ follower.get_full_name }}" class="follower-avatar">
                                    </a>
                                {% else %}
                                    <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="follower-avatar">
                                {% endif %}
                                <a href="{{ follower.get_absolute_url }}">{{ follower.get_full_name }}</a>
                            </div>
                        </li>
                    {% empty %}
                        <li>Нет подписчиков.</li>
                    {% endfor %}
                </ul>
            </div>
            <p>Email: {{ user.email }}</p>
            <p>Просмотренные: <a href="{% url 'movies:list' %}?filter=watched">{{ watched_count }}</a></p>
            <p>Понравившиеся: <a href="{% url 'movies:list' %}?filter=liked">{{ liked_count }}</a></p>
            <p>Непонравившиеся: <a href="{% url 'movies:list' %}?filter=disliked">{{ disliked_count }}</a></p>
            <p>Добавленные: <a href="{% url 'movies:list' %}?filter=added">{{ added_movies_count }}</a></p>
            <p>Ваша позиция в рейтинге: <strong>{{ user_position }}</strong></p>
            <p><a href="{% url 'user_ranking' %}">Посмотреть полный рейтинг пользователей</a></p>
        </div>
        <div class="about-me-settings">
            <h4 style="text-decoration: underline;">Настройки</h4>
            <div class="settings-buttons">
                <a href="{% url "edit" %}" class="button">Редактировать профиль</a>
                <a href="{% url "password_change" %}" class="button">Сменить пароль</a>
            </div>
            <p>
                Привязка к Telegram:
                {% if user.profile.telegram_connected %}
                    <span style="color: blue;">Да</span>
                {% else %}
                    <a href={{ bot_url }}>Привязать к Telegram</a>
                {% endif %}
            </p>
        </div>
        <div class="about-me-recently-action">
            <h4 style="text-decoration: underline;">Недавние действия</h4>
            {% for action in actions %}
                {% if forloop.counter <= 3 %}
                    <div class="action-item">
                        {% if action.verb == "подписался" %}
                            <p>подписался на <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a></strong></p>
                        {% elif action.verb == "отписался" %}
                            <p>отписался от <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a></strong></p>
                        {% else %}
                            <p>{{ action.verb }}: <strong><a href="{{ action.target.get_absolute_url }}">{{ action.target.title }}</a></strong></p>
                        {% endif %}
                        <p>{{ action.created|date:"DATETIME_FORMAT" }}</p>
                    </div>
                {% endif %}
            {% empty %}
                <p>Нет недавних действий для отображения.</p>
            {% endfor %}
        </div>
    </div>
</div>

<div id="Activity" class="tabcontent">
    <h3>Активность</h3>
    <div class="actions">
        {% for action in actions %}
            {% with user=action.user %}
            <div class="action">
                <div class="action-header">
                    <div class="user-info">
                        <div class="user-action">
                            {% if action.verb == "подписался" %}
                                <span class="action-verb">подписался на</span>
                                <a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a>
                            {% elif action.verb == "отписался" %}
                                <span class="action-verb">отписался от</span>
                                <a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a>
                            {% else %}
                                <span class="action-verb">{{ action.verb }}</span>
                                {% if action.target %}
                                    <strong class="movie-title">{{ action.target.title }}</strong>
                                {% endif %}
                            {% endif %}
                        </div>
                        <span class="date">{{ action.created|date:"DATETIME_FORMAT" }}</span>
                    </div>
                </div>
                {% if action.target %}
                    <div class="action-poster">
                        {% with target=action.target %}
                        {% if target.poster %}
                            {% thumbnail target.poster "50x75" crop="100%" as im %}
                            <a href="{{ target.get_absolute_url }}">
                                <img src="{{ im.url }}" class="item-img" alt="{{ target.title }} poster">
                            </a>
                        {% endif %}
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
            {% endwith %}
        {% empty %}
            <p>Нет активности для отображения.</p>
        {% endfor %}
    </div>
</div>

<div id="Comments" class="tabcontent">
    <h3>Комментарии</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <div class="comment-item">
                    <strong>{{ comment.movie.title }}</strong>
                    <a href="{{ comment.movie.get_absolute_url }}">
                        {% if comment.movie.poster %}
                            {% thumbnail comment.movie.poster "50x75" crop="100%" as im %}
                            <img src="{{ im.url }}" alt="{{ comment.movie.title }} Poster" class="movie-poster" />
                        {% else %}
                            <img src="{% static 'images/default_movie_poster.jpg' %}" alt="Default Poster" class="movie-poster" />
                        {% endif %}
                    </a>
                    <p>{{ comment.body }}</p>
                    <small>Комментарий оставлен: {{ comment.created_on }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="PointsHistory" class="tabcontent">
    <h3>История начислений баллов</h3>
    <ul>
        {% for entry in points_history %}
            <li>
                <strong>{{ entry.created_at|date:"d.m.Y H:i" }}</strong>:
                <span style="color: {% if entry.points > 0 %}green{% else %}red{% endif %};">
                    {% if entry.points > 0 %} +{% endif %}{{ entry.points }}
                </span> за {{ entry.action }}
                {% if entry.target %}
                    ({{ entry.target.title }})
                {% endif %}
            </li>
        {% empty %}
            <li>Нет истории начислений.</li>
        {% endfor %}
    </ul>
</div>

<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";  // Скрыть все вкладки
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].classList.remove("active");  // Удалить класс "active" у всех вкладок
    }
    document.getElementById(tabName).style.display = "block";  // Показать выбранную вкладку
    evt.currentTarget.classList.add("active");  // Добавить класс "active" к текущей вкладке
}

// Открыть вкладку "Обо мне" по умолчанию
document.addEventListener("DOMContentLoaded", function() {
    document.getElementsByClassName("tablink")[0].click();
});

function toggleFollowersList() {
    var list = document.getElementById("followers-list");
    if (list.style.display === "none") {
        list.style.display = "block";
    } else {
        list.style.display = "none";
    }
}
</script>

<style>
.tabs {
    display: flex; /* Используем Flexbox для расположения вкладок в ряд */
    margin-bottom: 20px;
}

.tablink {
    flex: 1; /* Каждая вкладка занимает равное пространство */
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
}

.tablink.active {
    background-color: #fff; /* Выделяем активную вкладку */
    border-bottom: none; /* Убираем нижнюю границу у активной вкладки */
}

.tabcontent {
    display: none; /* Скрываем все вкладки по умолчанию */
    border: 1px solid #ccc;
    padding: 20px;
}

.about-me-content {
    display: flex; /* Используем Flexbox для расположения блоков в ряд */
    justify-content: space-between; /* Распределяем пространство между блоками */
    margin-top: 20px; /* Отступ сверху для блока */
}

.about-me-stats, .about-me-settings, .about-me-recently-action {
    flex: 1; /* Каждому блоку выделяем равное пространство */
    margin-right: 20px; /* Отступ справа для блоков */
    border-radius: 10px; /* Закругляем углы */
    border: 1px solid #ccc; /* Добавляем рамку */
    padding: 15px; /* Отступ внутри блока */
}

.about-me-stats:last-child, .about-me-settings:last-child, .about-me-recently-action:last-child {
    margin-right: 0; /* Убираем отступ справа у последнего блока */
}

.about-me-settings .settings-buttons {
    display: flex; /* Используем Flexbox для вертикального расположения кнопок */
    flex-direction: column; /* Вертикальное расположение кнопок */
}


.toggle-followers-btn {
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.toggle-followers-btn:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.followers-list {
    margin-top: 10px; /* Отступ сверху для списка подписчиков */
}

.followers-list ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
}

.follower-item {
    display: flex; /* Используем Flexbox для расположения аватара и имени */
    align-items: center; /* Выравниваем по центру по вертикали */
    margin-bottom: 10px; /* Отступ между подписчиками */
}

.follower-avatar {
    width: 20px; /* Ширина аватара */
    height: 20px; /* Высота аватара */
    border-radius: 50%; /* Делаем аватар круглыми */
    margin-right: 10px; /* Отступ между аватаром и именем */
}

.settings-buttons .button {
    margin-bottom: 10px; /* Отступ между кнопками */
}

.action-item {
    margin-bottom: 10px;
}

.action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.movie-title {
    font-weight: bold;
}

.comment-item {
    margin-bottom: 15px;
}

.movie-poster {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Медиа-запросы для адаптации под мобильные устройства */
@media (max-width: 1300px) {
    h1 {
        font-size: 24px; /* Уменьшаем размер заголовка */
    }
    h3 {
        font-size: 20px; /* Уменьшаем размер заголовков секций */
    }
    h4 {
        font-size: 18px; /* Уменьшаем размер подзаголовков */
    }
    p, .button {
        font-size: 16px; /* Уменьшаем размер текста в параграфах и кнопках */
    }
    .about-me-content {
        flex-direction: column; /* Изменяем расположение блоков на вертикальное */
    }
    .about-me-stats, .about-me-settings, .about-me-recently-action {
        margin-right: 0; /* Убираем отступ справа у блоков */
        margin-bottom: 20px; /* Добавляем отступ снизу для блоков */
        border-radius: 10px; /* Закругляем углы для мобильных устройств */
    }

    /* Стили для блока PointsHistory */
    #PointsHistory {
        font-size: 12px; /* Уменьшаем размер текста в блоке PointsHistory */
    }
    #PointsHistory h3 {
        font-size: 14px; /* Уменьшаем размер заголовков секций */
    }

    #PointsHistory li {
        margin-bottom: 12px; /* Добавляем отступ между элементами списка */
    }

    #PointsHistory strong {
        font-size: 10px; /* Уменьшаем размер текста для даты */
    }

    #PointsHistory span {
        font-size: 10px; /* Уменьшаем размер текста для значений баллов */
    }
}

</style>
{% endblock %}