{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Дашборд{% endblock %}
{% block content %}
<h1>Дашборд</h1>

<!-- Аватар пользователя -->
<div class="user-avatar">
    {% if user.profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
            <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="item-img">
        </a>
    {% else %}
        <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img" style="width: 80px; height: 80px;">
    {% endif %}
</div>

<!-- Вкладки -->
<div class="tabs">
    <button class="tablink active" onclick="openTab(event, 'AboutMe')">Обо мне</button>
    <button class="tablink" onclick="openTab(event, 'Activity')">Активность</button>
    <button class="tablink" onclick="openTab(event, 'Comments')">Комментарии</button>
</div>

<!-- Содержимое вкладок -->
<div id="AboutMe" class="tabcontent">
    <h3>Обо мне</h3>
    <div class="about-me-content">
        <div class="about-me-stats">
            <h4 style="text-decoration: underline;">Стат данные</h4>
            <p>Дата присоединения: {{ user.date_joined|date:"d.m.Y" }}</p>
            <!-- Информация о подписчиках -->
            <h4>Подписчики: {{ user.followers.count }}</h4>
            <button class="toggle-followers-btn" onclick="toggleFollowersList()">Показать подписчиков</button>
            <div id="followers-list" class="followers-list" style="display: none;">
                <ul>
                    {% for follower in user.followers.all %}
                        <li>{{ follower.get_full_name }}</li>
                    {% empty %}
                        <li>Нет подписчиков.</li>
                    {% endfor %}
                </ul>
            </div>
            <p>Email: {{ user.email }}</p>
            <p>Просмотренные: <a href="{% url 'movies:list' %}?filter=watched">{{ watched_count }}</a></p>
            <p>Понравившиеся: <a href="{% url 'movies:list' %}?filter=liked">{{ liked_count }}</a></p>
            <p>Непонравившиеся: <a href="{% url 'movies:list' %}?filter=disliked">{{ disliked_count }}</a></p>
        </div>
        <div class="about-me-settings">
            <h4 style="text-decoration: underline;">Настройки</h4>
            <a href="{% url "edit" %}" class="button">Редактировать профиль</a>
            <a href="{% url "password_change" %}" class="button">Сменить пароль</a>
            <p>
                Привязка к Telegram:
                {% if user.profile.telegram_connected %}
                    <span style="color: blue;">Да</span>
                {% else %}
                    <a href="https://t.me/MoviesWatchersTestBot">Привязать к Telegram</a>
                {% endif %}
            </p>
        </div>
        <div class="about-me-recently-action">
            <h4 style="text-decoration: underline;">Недавние действия</h4>
            {% for action in actions %}
                {% if forloop.counter <= 3 %}  <!-- Ограничиваем вывод до 3 действий -->
                    <div class="action-item">
                        <p>{{ action.verb }}: <strong>{{ action.target.title }}</strong></p>
                        <p>{{ action.created|timesince }} назад</p>
                    </div>
                {% endif %}
            {% empty %}
                <p>Нет недавних действий для отображения.</p>
            {% endfor %}
        </div>
    </div>
</div>

<div id="Activity" class="tabcontent">
    <h3>Активность</h3>
    <div class="actions">
        {% for action in actions %}
            {% with user=action.user %}
            <div class="action">
                <div class="action-header">
                    <div class="user-info">
                        <div class="user-action">
                            <a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a>
                            <span class="action-verb">{{ action.verb }}</span>
                            {% if action.target %}
                                <strong class="movie-title">{{ action.target.title }}</strong>
                            {% endif %}
                        </div>
                        <span class="date">{{ action.created|timesince }} ago</span>
                    </div>
                </div>
                {% if action.target %}
                    <div class="action-poster">
                        {% with target=action.target %}
                        {% if target.poster %}
                            {% thumbnail target.poster "50x75" crop="100%" as im %}
                            <a href="{{ target.get_absolute_url }}">
                                <img src="{{ im.url }}" class="item-img" alt="{{ target.title }} poster">
                            </a>
                        {% endif %}
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
            {% endwith %}
        {% empty %}
            <p>Нет активности для отображения.</p>
        {% endfor %}
    </div>
</div>

<div id="Comments" class="tabcontent">
    <h3>Комментарии</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <div class="comment-item">
                    <strong>{{ comment.movie.title }}</strong>
                    <a href="{{ comment.movie.get_absolute_url }}">
                        <img src="{{ comment.movie.poster.url }}" alt="{{ comment.movie.title }} Poster" class="movie-poster" />
                    </a>
                    <p>{{ comment.body }}</p>
                    <small>Комментарий оставлен: {{ comment.created_on }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";  // Скрыть все вкладки
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].classList.remove("active");  // Удалить класс "active" у всех вкладок
    }
    document.getElementById(tabName).style.display = "block";  // Показать выбранную вкладку
    evt.currentTarget.classList.add("active");  // Добавить класс "active" к текущей вкладке
}

// Открыть вкладку "Обо мне" по умолчанию
document.addEventListener("DOMContentLoaded", function() {
    document.getElementsByClassName("tablink")[0].click();
});

function toggleFollowersList() {
    var list = document.getElementById("followers-list");
    if (list.style.display === "none") {
        list.style.display = "block";
    } else {
        list.style.display = "none";
    }
}
</script>

<style>
.tabs {
    display: flex; /* Используем Flexbox для расположения вкладок */
    justify-content: space-around; /* Распределяем пространство между вкладками */
    margin-bottom: 20px; /* Отступ снизу для вкладок */
}

.tablink {
    padding: 10px 15px; /* Отступы для вкладок */
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Рамка вокруг вкладок */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Цвет фона для вкладок */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.tablink.active {
    background-color: #12c064; /* Цвет фона для активной вкладки */
    color: white; /* Цвет текста для активной вкладки */
}

.tabcontent {
    display: none; /* Скрываем содержимое вкладок по умолчанию */
    padding: 20px; /* Отступы для содержимого вкладок */
    border: 1px solid #ccc; /* Рамка вокруг содержимого вкладок */
    border-radius: 5px; /* Закругленные углы */
    background-color: #fff; /* Цвет фона для содержимого вкладок */
}

.movie-poster {
    width: 50px; /* Установите ширину постера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от постера */
    vertical-align: middle; /* Выравнивание по центру */
}

.about-me-content {
    display: flex; /* Используем Flexbox для расположения блоков */
    justify-content: space-between; /* Распределяем пространство между блоками */
}

.about-me-stats {
    width: 33%; /* Устанавливаем ширину блоков */
}

.about-me-settings {
    width: 20%; /* Устанавливаем ширину блоков */
}

.about-me-recently-action {
    width: 33%; /* Устанавливаем ширину блоков */
}

.about-me-recently-action .action-item p {
    margin: 0; /* Убираем отступы у <p> элементов внутри .action-item */
}

.about-me-settings {
    display: flex;
    flex-direction: column; /* Вертикальное расположение кнопок */
}

.about-me-settings .button {
    display: inline-block; /* Отображение кнопок в виде блочных элементов */
    padding: 10px 15px; /* Отступы для кнопок */
    margin-top: 10px; /* Отступ сверху для кнопок */
    background-color: #007bff; /* Цвет фона для кнопок */
    color: white; /* Цвет текста для кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius:  5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета */
    white-space: nowrap; /* Запрет на перенос текста */
    width: auto; /* Устанавливаем ширину на авто */
}

.about-me-settings .button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.followers-info {
    margin-bottom: 20px; /* Отступ снизу для информации о подписчиках */
}

.followers-list {
    margin-top: 10px; /* Отступ сверху для списка подписчиков */
    border: 1px solid #ccc; /* Рамка вокруг списка */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Цвет фона для списка */
    padding: 10px; /* Отступы внутри списка */
    max-height: 200px; /* Максимальная высота списка */
    overflow-y: auto; /* Прокрутка по вертикали, если список слишком длинный */
}

.followers-list ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
}

.followers-list li {
    padding: 5px; /* Отступы для элементов списка */
    border-bottom: 1px solid #ddd; /* Разделительная линия между элементами */
}

.followers-list li:last-child {
    border-bottom: none; /* Убираем разделительную линию у последнего элемента */
}

.toggle-followers-btn {
    background-color: #12c064; /* Цвет фона для кнопки */
    color: white; /* Цвет текста для кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    padding: 8px 12px; /* Отступы для кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.toggle-followers-btn:hover {
    background-color: #0fa052; /* Цвет фона при наведении */
}

@media (max-width: 1100px) {
    .about-me-content {
        flex-direction: row; /* Горизонтальное расположение блоков */
        flex-wrap: wrap; /* Позволяем перенос блоков на следующую строку */
    }
    .about-me-stats, .about-me-settings, .about-me-recently-action {
        width: 30%; /* Устанавливаем ширину блоков на 30% */
        margin-right: 10px; /* Отступ справа для блоков */
    }
    .about-me-settings {
        margin-right: 0; /* Убираем отступ справа для последнего блока */
    }
}
</style>
{% endblock %}