<!-- account/user_ranking.html -->
{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}Рейтинг пользователей{% endblock %}
{% block content %}
<h1>Рейтинг пользователей</h1>

<table class="ranking-table">
    <thead>
        <tr>
            <th>Позиция</th>
            <th>Пользователь</th>
            <th>Баллы</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in users %}
            <tr class="{% if profile.user == request.user %}current-user{% endif %}">
                <td>{{ forloop.counter }}</td> <!-- Позиция пользователя -->
                <td>
                    <div class="user-info-rank">
                        {% if profile.user.profile.photo %}
                        {% thumbnail profile.user.profile.photo "40x40" crop="100%" as im %}
                            <img src="{{ im.url }}" alt="{{ profile.user.username }}'s avatar" class="user-avatar">
                        {% else %}
                            <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="user-avatar">
                        {% endif %}
                        <a href="{{ profile.user.get_absolute_url }}">{{ profile.user.get_full_name }}</a>
                    </div>
                </td>
                <td>{{ profile.points }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Нет пользователей для отображения.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .ranking-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .ranking-table th, .ranking-table td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .ranking-table th {
        background-color: #f2f2f2;
    }

    .ranking-table tr:hover {
        background-color: #f1f1f1;
    }

    .current-user {
        background-color: #d1e7dd; /* Цвет фона для текущего пользователя */
        font-weight: bold; /* Выделение текста */
    }

    .user-info-rank {
        display: flex;
        align-items: center; /* Центрируем аватар и текст по вертикали */
        flex-wrap: nowrap; /* Запрещаем перенос элементов */
    }

    .user-avatar {
        width: 40px; /* Ширина аватара */
        height: 40px; /* Высота аватара */
        border-radius: 50%; /* Закругляем аватар */
        margin-right: 10px; /* Отступ справа от аватара */
    }
</style>

{% endblock %}