{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}
<div class="movie-detail">
    <div class="movie-poster">
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }} постер" class="poster-img">
    </div>
    <div class="movie-info">
        <h1>{{ movie.title }}</h1>
        <div class="info-block">
            <div class="details">
                <p><strong>Год выпуска:</strong> {{ movie.year }}</p>
                <p><strong>Продолжительность:</strong> {{ movie.duration }} минут</p>
                <p><strong>Кинопоиск:</strong> <a href="{{ movie.kinopoisk_url }}" target="_blank">Открыть на Кинопоиске</a></p>
                <h2>Режиссеры</h2>
                <ul>
                    {% for director in movie.directors.all %}
                        <li>
                            <a href="{% url 'movies:director_detail' director.id %}">{{ director.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <h2>Сценаристы</h2>
                <ul>
                    {% for writer in movie.writers.all %}
                        <li>
                            <a href="{% url 'movies:writer_detail' writer.id %}">{{ writer.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <h2>Жанры</h2>
                <ul>
                    {% for genre in movie.genres.all %}
                        <li>{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="metrics">
                <h2>Показатели</h2>
                <p><strong>Просмотрен:</strong> {{ watched_count }}</p>
                <p><strong>Лайки:</strong> {{ movie.users_like.count }}</p>
                <p><strong>Дизлайки:</strong> {{ movie.users_dislike.count }}</p>
                <p><strong>Лайки/Просмотры:</strong> {{ like_ratio|floatformat:2 }}</p>
                <p><strong>Лайки/Дизлайки:</strong> {{ dislike_ratio|floatformat:2 }}</p>
            </div>
        </div>
    </div>
</div>

<h2>Комментарии</h2>
<ul class="comment-list">
    {% for comment in comments %}
        <li class="comment-item">
            <strong>{{ comment.author.username }}</strong> ({{ comment.created_on }})<br>
            <p>{{ comment.body }}</p>
        </li>
    {% empty %}
        <li>Нет комментариев.</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <h3>Оставить комментарий</h3>
    <form method="post" class="comment-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_body">Ваш комментарий:</label>
            {{ form.body }}  <!-- Используем form.body для отображения поля -->
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% else %}
    <p>Вы должны <a href="{% url 'login' %}">войти</a>, чтобы оставить комментарий.</p>
{% endif %}

{% endblock %}