{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}
<h1>{{ movie.title }}</h1>

<!--<img src="{{ movie.poster.url }}" class="image-detail">-->

<a href="{{ movie.poster.url }}">
<img src="{% thumbnail movie.poster 300x0 %}" class="image-detail">
</a>
{% with total_likes=movie.users_like.count total_dislikes=movie.users_dislike.count users_like=movie.users_like.all %}
{{ total_likes }}
{{ total_dislikes }}
{{ users_like }}
<div class="image-info">
<div>
<span class="count">
<span class="like total">{{ total_likes }}</span>
    like{{ total_likes|pluralize }}
</span>
<span class="count">
<span class="dislike total">{{ total_dislikes }}</span>
    dislike{{ total_dislikes|pluralize }}
</span>
    <br>
    <br>
    <a href="#" data-id="{{ movie.id }}" data-action="like"   class="like button">Like</a>
    <a href="#" data-id="{{ movie.id }}" data-action="dislike" class="dislike button">DisLike</a>

</div>

  <ul>
    {% for genre in movie.genres.all %}
    <li>{{ genre }}</li>
  {% endfor %}
  </ul>

  <ul>
    {% for country in movie.countries.all %}
    <li>{{ country }}</li>
  {% endfor %}
  </ul>


    <ul>
    {% for director in movie.directors.all %}
    <li>{{ director.name }}</li>
  {% endfor %}
  </ul>

     <ul>
    {% for writer in movie.writers.all %}
    <li>{{ writer.name }}</li>
  {% endfor %}
  </ul>


    {{ movie.description|linebreaks }}
</div>
  {% endwith %}
{% endblock %}

{% block domready %}
const url = '{% url "movies:like" %}';
var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
};

// Обработчик для кнопки "Like"
document.querySelectorAll('a.like').forEach(function(likeButton) {
    likeButton.addEventListener('click', function(e) {
        e.preventDefault();

        // Подготовка данных для запроса
        var formData = new FormData();
        formData.append('id', likeButton.dataset.id);
        formData.append('action', 'like'); // Указываем действие "like"
        options['body'] = formData;

        // Отправка HTTP-запроса
        fetch(url, options)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok') {
                var likeCount = document.querySelector('span.count .like');
                var totalLikes = parseInt(likeCount.innerHTML);
                likeCount.innerHTML = totalLikes + 1;

<!--                var dislikeCount = document.querySelector('span.count .dislike');-->
<!--                var totalDislikes = parseInt(dislikeCount.innerHTML);-->
<!--                dislikeCount.innerHTML = totalDislikes - 1;-->

                // Отключение кнопки "like" после нажатия
                likeButton.classList.add('active');
                likeButton.innerHTML = 'Liked'; // Измените текст кнопки, если нужно

                // Если dislike был ранее, отключаем его
                var dislikeButton = document.querySelector('a.dislike');
                if (dislikeButton) {
                    dislikeButton.classList.remove('active');
                    dislikeButton.innerHTML = 'Dislike'; // Сброс текста кнопки
                }
            }
        });
    });
});

// Обработчик для кнопки "Dislike"
document.querySelectorAll('a.dislike').forEach(function(dislikeButton) {
    dislikeButton.addEventListener('click', function(e) {
        e.preventDefault();

        // Подготовка данных для запроса
        var formData = new FormData();
        formData.append('id', dislikeButton.dataset.id);
        formData.append('action', 'dislike'); // Указываем действие "dislike"
        options['body'] = formData;

        // Отправка HTTP-запроса
        fetch(url, options)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok') {
                // Обновление состояния кнопки
                var dislikeCount = document.querySelector('span.count .dislike');
                var totalDislikes = parseInt(dislikeCount.innerHTML);
                dislikeCount.innerHTML = totalDislikes + 1;

<!--                var likeCount = document.querySelector('span.count .like');-->
<!--                var totalLikes = parseInt(likeCount.innerHTML);-->
<!--                likeCount.innerHTML = totalLikes - 1;-->


                // Отключение кнопки "dislike" после нажатия
                dislikeButton.classList.add('active');
                dislikeButton.innerHTML = 'Disliked'; // Измените текст кнопки, если нужно

                // Если like был ранее, отключаем его
                var likeButton = document.querySelector('a.like');
                if (likeButton) {
                    likeButton.classList.remove('active');
                    likeButton.innerHTML = 'Like'; // Сброс текста кнопки
                }
            }
        });
    });
});

{% endblock %}