{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block content %}
<div id="movie-list">
{% include "movies/movie/list_movies.html" %}
</div>
{% endblock %}

{% block domready %}


var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
};

// Обработчик для кнопки "Like"
const url_like = '{% url "movies:mark_like" %}';
document.querySelectorAll('button.like').forEach(function(likeButton) {
    likeButton.addEventListener('click', function(e) {
        e.preventDefault();

        // Подготовка данных для запроса
        var formData = new FormData();
        formData.append('id', likeButton.dataset.id);
        formData.append('action', 'like'); // Указываем действие "like"

        // Отправка HTTP-запроса
        fetch(url_like, { // Убедитесь, что URL соответствует вашему представлению
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // Получите CSRF-токен
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'liked') {
                // Обновление состояния кнопки
                likeButton.classList.add('active');
                var likeIcon = likeButton.querySelector('i');
                likeIcon.classList.add('active'); // Добавляем активный класс к иконке

                // Если dislike был ранее, отключаем его
                var dislikeButton = document.querySelector('button.dislike[data-id="' + likeButton.dataset.id + '"]');
                if (dislikeButton) {
                    dislikeButton.classList.remove('active');
                    var dislikeIcon = dislikeButton.querySelector('i');
                    dislikeIcon.classList.remove('active'); // Убираем активный класс у иконки
                }
            }
        });
    });
});

// Обработчик для кнопки "Dislike"
const url_dislike = '{% url "movies:mark_dislike" %}';
document.querySelectorAll('button.dislike').forEach(function(dislikeButton) {
    dislikeButton.addEventListener('click', function(e) {
        e.preventDefault();

        // Подготовка данных для запроса
        var formData = new FormData();
        formData.append('id', dislikeButton.dataset.id);
        formData.append('action', 'dislike'); // Указываем действие "dislike"

        // Отправка HTTP-запроса
        fetch(url_dislike, { // Убедитесь, что URL соответствует вашему представлению
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // Получите CSRF-токен
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'disliked') {
                // Обновление состояния кнопки
                dislikeButton.classList.add('active');
                var dislikeIcon = dislikeButton.querySelector('i');
                dislikeIcon.classList.add('active'); // Добавляем активный класс к иконке

                // Если like был ранее, отключаем его
                var likeButton = document.querySelector('button.like[data-id="' + dislikeButton.dataset.id + '"]');
                if (likeButton) {
                    likeButton.classList.remove('active');
                    var likeIcon = likeButton.querySelector('i');
                    likeIcon.classList.remove('active'); // Убираем активный класс у иконки
                }
            }
        });
    });
});

const url_wishlist = '{% url "movies:wishlist" %}';
document.querySelectorAll('button.wishlist').forEach(function(wishlistButton) {
    wishlistButton.addEventListener('click', function(e) {
        e.preventDefault();
        // Подготовка данных для запроса
        var formData = new FormData();
        formData.append('id', wishlistButton.dataset.id);
        formData.append('action', 'toggle'); // Указываем действие "toggle" для добавления/удаления
        // Отправка HTTP-запроса
        fetch(url_wishlist, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // Получите CSRF-токен
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'added') {
                // Обновление состояния кнопки, если фильм добавлен в вишлист
                wishlistButton.querySelector('i').classList.add('transparent'); // Сделать иконку прозрачной
            } else if (data['status'] === 'removed') {
                // Обновление состояния кнопки, если фильм удален из вишлиста
                wishlistButton.querySelector('i').classList.remove('transparent'); // Вернуть иконку в цвет
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    });
});

// Функция для получения CSRF-токена
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const url_watched = '{% url "movies:mark_watched" %}';
document.querySelectorAll('button.watched').forEach(function(watchedButton) {
    watchedButton.addEventListener('click', function(e) {
        e.preventDefault();
        var formData = new FormData();
        formData.append('id', watchedButton.dataset.id);
        fetch(url_watched, {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'added') {
                watchedButton.innerHTML = '<i class="fas fa-circle"><i class="fas fa-check"></i></i>'; // Кружок с галочкой
            } else if (data['status'] === 'removed') {
                watchedButton.innerHTML = '<i class="fas fa-circle"></i>'; // Возвращаем кружок
            }
        });
    });
});

const url_recently_watched = '{% url "movies:mark_recently_watched" %}';
document.querySelectorAll('button.recently-watched').forEach(function(watchedRecentlyButton) {
    watchedRecentlyButton.addEventListener('click', function(e) {
        e.preventDefault();
        var formData = new FormData();
        formData.append('id', watchedRecentlyButton.dataset.id);
        fetch(url_recently_watched, {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'added') {
                watchedRecentlyButton.innerHTML = '<i class="fas fa-circle"><i class="fas fa-check"></i></i>'; // Кружок с галочкой
            } else if (data['status'] === 'removed') {
                watchedRecentlyButton.innerHTML = '<i class="fas fa-circle"></i>'; // Возвращаем кружок
            }
        });
    });
});

{% endblock %}

