{% load thumbnail %}

<h1>Список фильмов</h1>

<div class="tabs">
    <a href="?filter=all" class="{% if filter_type == 'all' %}active{% endif %}">Все фильмы</a>
    <a href="?filter=watched" class="{% if filter_type == 'watched' %}active{% endif %}">Просмотренные</a>
    <a href="?filter=unwatched" class="{% if filter_type == 'unwatched' %}active{% endif %}">Непросмотренные</a>
    <a href="?filter=liked" class="{% if filter_type == 'liked' %}active{% endif %}">Понравившиеся</a>
    <a href="?filter=disliked" class="{% if filter_type == 'disliked' %}active{% endif %}">Непонравившиеся</a>
    <a href="?filter=watchlist" class="{% if filter_type == 'watchlist' %}active{% endif %}">Буду смотреть</a>
    <a href="?filter=added" class="{% if filter_type == 'added' %}active{% endif %}">Добавленные</a>
</div>

<div class="movie-container">
    <div class="movie-list">
        <ul>
            {% for movie in page_obj %}
                <li class="movie-item {% if movie.id in watched_movies %}watched{% endif %}">
                    <div class="movie-poster">
                        {% if movie.poster %}
                            <a href="{{ movie.get_absolute_url }}">
                                <img src="{% thumbnail movie.poster 300x0 %}" alt="{{ movie.title }} постер" class="movie-poster-img">
                            </a>
                        {% endif %}
                    </div>
                    <div class="movie-info">
                        <h2>{{ movie.title }} ({{ movie.year }})</h2>
                        <p>{{ movie.title_original }}</p>
                        <div class="movie-actions">
                <div class="movie-actions">
                    <button class="like" data-id="{{ movie.id }}">
                        <i class="fas fa-thumbs-up {% if request.user in movie.users_like.all %}active{% endif %}"></i>
                    </button>
                    <button class="dislike" data-id="{{ movie.id }}">
                        <i class="fas fa-thumbs-down {% if request.user in movie.users_dislike.all %}active{% endif %}"></i>
                    </button>
                        <button class="wishlist" data-id="{{ movie.id }}">
                            <i class="fas fa-plus {% if movie.id in wishlist_movies %}transparent{% endif %}"></i>
                        </button>
                </div>
    <button class="watched" data-id="{{ movie.id }}">
        <i class="fas fa-circle {% if movie.id in watched_movies %}fa-check{% endif %}"></i>
                <span class="action-label">
            {% if movie.id in watched_movies %}
                Просмотрен
            {% else %}
                Пометить как просмотренный
            {% endif %}
        </span>
    </button>
    <button class="recently-watched" data-id="{{ movie.id }}">
        <i class="fas fa-circle {% if movie.id in recently_watched_movies %}fa-check{% endif %}"></i>
        <span class="action-label">
            {% if movie.id in recently_watched_movies %}
                Просмотрен недавно
            {% else %}
                Пометить как просмотрен недавно
            {% endif %}
        </span>
    </button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>


</div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?filter={{ filter_type }}&page=1">Первая</a>
                <a href="?filter={{ filter_type }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?filter={{ filter_type }}&page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?filter={{ filter_type }}&page={{ page_obj.paginator.num_pages }}">Последняя</a>
            {% endif %}
        </span>
    </div>

