{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}Лента{% endblock %}
{% block content %}
<div class="container">
    <div class="main-content">
        <!-- Информационный блок для неавторизованных пользователей -->
        {% if not user.is_authenticated %}
        <div class="info-block">
            <div class="info-left">
                <h2>С <strong>КиноСмотрители</strong> вы можете...</h2>
                <ul>
                    <li>...вести личный список фильмов, которые вы посмотрели и которые вам понравились.</li>
                    <li>...оперативно получать информацию о том, кто из сообщества
                    какие фильмы недавно посмотрел или собирается посмотреть.</li>
                    <li>...создавать собственные списки фильмов.</li>
                    <li>...и многое другое.</li>
                </ul>
            </div>
            <div class="info-right">
                <h2>Виды активностей, за которые можно получить баллы и подняться в рейтинге!</h2>
                <table class="activity-table">
                    <thead>
                        <tr>
                            <th>Активность</th>
                            <th>Баллы</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Отметка о просмотре фильма</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Добавление комментария к фильму</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Добавление фильма</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Создание списка фильмов</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Лайк на Ваш список фильмов</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <!-- Слайдер последних добавленных фильмов -->
        <div class="latest-movies-slider">
            <div class="slider">
                {% for movie in latest_movies %}
                    <div class="slider-item">
                        <a href="{{ movie.get_absolute_url }}">
                            {% if movie.poster %}
                                {% thumbnail movie.poster "80x120" crop="100%" as im %}
                                <img src="{{ im.url }}" alt="{{ movie.title }} poster" class="slider-img">
                            {% else %}
                                <img src="{% static 'images/default_movie_poster.jpg' %}" alt="Default Poster" class="slider-img" style="width: 80px; height: 120px;">
                            {% endif %}
                            <div class="slider-title">{{ movie.title }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}



        <!-- Форма фильтрации действий -->
        <form method="get" class="action-filter-form">
            <label for="action_type">Фильтр по видам действий:</label>
            <select name="action_type" id="action_type" onchange="this.form.submit()">
                <option value="">Все действия</option>
                <option value="добавил" {% if action_type == "добавил" %}selected{% endif %}>Добавил</option>
                <option value="недавно посмотрел" {% if action_type == "недавно посмотрел" %}selected{% endif %}>Недавно посмотрел</option>
                <option value='добавил в "Буду смотреть"' {% if action_type == 'добавил в "Буду смотреть"' %}selected{% endif %}>Буду смотреть</option>
                <option value="понравился" {% if action_type == "понравился" %}selected{% endif %}>Понравился</option>
                <option value="не понравился" {% if action_type == "не понравился" %}selected{% endif %}>Не понравился</option>
                <option value="подписался" {% if action_type == "подписался" %}selected{% endif %}>Подписался</option>
                <option value="отписался" {% if action_type == "отписался" %}selected{% endif %}>Отписался</option>
                <!-- Добавьте другие виды действий, если необходимо -->
            </select>
        </form>


        <div class="content-wrapper">
            <div class="actions">
                {% for action in actions %}
                    <div class="action">
                        <div class="action-header">
                            <div class="user-avatar">
                                {% if action.user.profile.photo %}
                                    {% thumbnail action.user.profile.photo "80x80" crop="100%" as im %}
                                    <a href="{{ action.user.get_absolute_url }}">
                                        <img src="{{ im.url }}" alt="{{ action.user.get_full_name }}" class="item-img">
                                    </a>
                                {% else %}
                                    <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img" style="width: 80px; height: 80px;">
                                {% endif %}
                            </div>
                            <div class="user-info">
                                <div class="user-action">
                                    <a href="{{ action.user.get_absolute_url }}">{{ action.user.get_full_name }}</a>
                                    {% if action.verb == "подписался" %}
                                        <span class="action-verb">подписался на</span>
                                        <a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a>
                                    {% elif action.verb == "отписался" %}
                                        <span class="action-verb">отписался от</span>
                                        <a href="{{ action.target.get_absolute_url }}">{{ action.target.get_full_name }}</a>
                                    {% else %}
                                        <span class="action-verb">{{ action.verb }}</span>
                                        {% if action.target %}
                                            <strong class="movie-title">{{ action.target.title }}</strong>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <span class="date">{{ action.created|date:"DATETIME_FORMAT" }}</span>
                            </div>
                        </div>
                        {% if action.target and action.verb not in "подписался, отписался" %}
                            <div class="action-poster">
                                {% with target=action.target %}
                                {% if target.poster %}
                                    {% thumbnail target.poster "50x75" crop="100%" as im %}
                                    <a href="{{ target.get_absolute_url }}">
                                        <img src="{{ im.url }}" class="item-img" alt="{{ target.title }} poster">
                                    </a>
                                {% endif %}
                                {% endwith %}
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>Нет действий для отображения.</p>
                {% endfor %}
            </div>

            <!-- Остальная часть шаблона остается без изменений -->
            <div class="combined-sidebar">
                <div class="top-movies-sidebar">
                    <h3>Топ 5 фильмов</h3>
                    <ul class="top-movies-list">
                        {% for movie in top_movies %}
                        <li class="top-movie-item">
                            <div class="movie-poster">
                                {% if movie.poster %}
                                    {% thumbnail movie.poster "20x30" crop="100%" as im %}
                                    <a href="{{ movie.get_absolute_url }}">
                                        <img src="{{ im.url }}" alt="{{ movie.title }} poster" class="item-img">
                                    </a>
                                {% else %}
                                    <img src="{% static 'images/default_movie_poster.jpg' %}" alt="Default Poster" class="item-img" style="width: 20px; height: 30px;">
                                {% endif %}
                            </div>
                            <div class="movie-info">
                                <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                <span class="likes-count">{{ movie.likes_count }} лайков</span>
                            </div>
                        </li>
                        <hr class="divider"> <!-- Разделитель между фильмами -->
                        {% endfor %}
                    </ul>
                    <p><a href="{% url 'movies:list' %}?sort=likes&order=desc">Посмотреть полный рейтинг фильмов</a></p> <!-- Ссылка на полный рейтинг -->
                </div>

                <div class="top-users-sidebar">
                    <h3>Топ 3 пользователя</h3>
                    <ul class="top-users-list">
                        {% for profile in top_users %}
                        <li class="top-user-item">
                            <div class="user-avatar">
                                {% if profile.user.profile.photo %}
                                    {% thumbnail profile.user.profile.photo "40x40" crop="100%" as im %}
                                    <a href="{{ profile.user.get_absolute_url }}">
                                        <img src="{{ im.url }}" alt="{{ profile.user.get_full_name }}" class="item-img">
                                    </a>
                                {% else %}
                                    <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img" style="width: 40px; height: 40px;">
                                {% endif %}
                            </div>
                            <div class="user-info">
                                <a href="{{ profile.user.get_absolute_url }}">{{ profile.user.first_name }} {{ profile.user.last_name }}</a>
                                <span class="points">{{ profile.points }} баллов</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <p><a href="{% url 'user_ranking' %}">Посмотреть полный рейтинг пользователей</a></p>
                </div>

                <div class="top-lists-sidebar">
                    <h3>Топ 3 списков фильмов</h3>
                    <ul class="top-users-lists">
                        {% for movie_list in top_lists %}
                            <li class="top-list-item" style="display: flex; align-items: center; margin-bottom: 10px;">
                                <div class="user-avatar" style="margin-right: 10px;">
                                    {% if movie_list.user.profile.photo %}
                                        {% thumbnail movie_list.user.profile.photo "40x40" crop="100%" as im %}
                                        <a href="{{ movie_list.user.get_absolute_url }}">
                                            <img src="{{ im.url }}" alt="{{ movie_list.user.get_full_name }}" class="item-img">
                                        </a>
                                    {% else %}
                                        <img src="{% static 'images/default_user_avatar.jpg' %}" alt="Default Avatar" class="item-img" style="width: 40px; height: 40px;">
                                    {% endif %}
                                </div>
                                <div class="list-info">
                                    <strong>
                                        <a href="{% url 'lists:movie_list_detail' movie_list.id %}" class="list-title">{{ movie_list.title }}</a>
                                    </strong><br>
                                    <span class="likes-count">{{ movie_list.likes_count }} лайков</span>
                                </div>
                            </li>
                        {% empty %}
                            <li>Нет доступных списков.</li>
                        {% endfor %}
                    </ul>
                    <p><a href="{% url 'lists:users_movie_lists' %}">Посмотреть полный рейтинг списков</a></p>
                </div>
            </div>

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if actions.has_previous %}
                    <a href="?page=1&action_type={{ action_type }}">Первая</a>
                    <a href="?page={{ actions.previous_page_number }}&action_type={{ action_type }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ actions.number }} из {{ actions.paginator.num_pages }}.
                </span>

                {% if actions.has_next %}
                    <a href="?page={{ actions.next_page_number }}&action_type={{ action_type }}">Следующая</a>
                    <a href="?page={{ actions.paginator.num_pages }}&action_type={{ action_type }}">Последняя</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}