{% extends "base.html" %}
{% block content %}

<h2>{{ movie_list.title }}</h2>
<p>Баллы: {{ movie_list.points }}</p>
<p>Лайки: {{ movie_list.users_like.count }}</p>

<ul>
    {% for movie in movie_list.movies.all %}
        <li>{{ movie.title }}</li>
    {% endfor %}
</ul>

<form action="{% url 'movies:like_movie_list' movie_list.id %}" method="post">
    {% csrf_token %}
    <button type="submit">
<!--        {% if request.user in movie_list.users_like.all %}-->
<!--            Убрать лайк-->
<!--        {% else %}-->
<!--            Поставить лайк-->
<!--        {% endif %}-->
    </button>
</form>

<h3>Добавить фильм в список</h3>
<ul>
    {% for movie in all_movies %}
        <li>
            {{ movie.title }}
            <form action="{% url 'movies:add_movie_to_list' movie_list.id movie.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Добавить в список</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}